# Local PC Folders
NEUTRON_DATA_FOLDER="/replace/with/your/folder/path"
INPUT_DATA_FOLDER=f"{NEUTRON_DATA_FOLDER}/2-Converted_Data"
OUTPUT_DATA_FOLDER=f"{NEUTRON_DATA_FOLDER}/3-Output"

config = dict(
    NEUTRON_DATA_FOLDER=NEUTRON_DATA_FOLDER,
    INPUT_DATA_FOLDER=INPUT_DATA_FOLDER,
    OUTPUT_DATA_FOLDER=OUTPUT_DATA_FOLDER
)