NEUTRON_DATA_FOLDER="Input base data folder name here"
INPUT_DATA_FOLDER=${NEUTRON_DATA_FOLDER}\2-Converted_Data
OUTPUT_DATA_FOLDER=${NEUTRON_DATA_FOLDER}\3-Output
UNCONVERTED_DATA_FOLDER=${NEUTRON_DATA_FOLDER}\1-Unconverted_Data